* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
    background-color: #190019;

}

.heading h1 {
    font-size: 38px;
    font-weight: 700;
    font-family: "poppins";
    color: #dfb6b2;
    text-transform: uppercase;

}

.wrapper {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper p {
    width: 120px;
    height: 20px;
    border-radius: 35px;
    text-transform: uppercase;
    background-color: #100224;
    color: #dfb6b2;
    font-size: 14px;
    font-family: poppins;
    text-align: center;
    padding: 15px;
    border: 4px solid #dfb6b2;
    cursor: pointer;
}

.wrapper p:hover {
    background-color: #c38eb4;
    color: #190019;
}

.wrapper p:active {
    background-color: #c38eb4;
    color: #100224;
    scale: 1.2;
}

.timercircle {
    width: 200px;
    height: 200px;
    padding: 1rem;
    background: #100224;
    border-radius: 50%;
    text-align: center;
    border: 6px solid #dfb6b2;
}

.p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.timercircle p {
    font-size: 26px;
    font-family: poppins;
    color: #dfb6b2;

}

.buttons {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons span {
    font-size: 14px;
    font-family: poppins;
    color: #dfb6b2;
    margin: 0 10px;
}

.buttons button {
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 35px;
    border: 4px solid #dfb6b2;
    background: #100224;
    color: #dfb6b2;
    padding: 0 5px;
    padding: 5px;
}

.buttons button:hover {
    background-color: #c38eb4;
    color: #190019;
}

.buttons button:active {
    background-color: #c38eb4;
    color: #100224;
    scale: 1.2;
}